@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

.menu {
    display: flex;
    width: 100%;
    position: fixed;
    height: 65px;
    background-color: #e2e2e2;
}

.menu a {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-size: 23px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.menu a:hover {
    border-top: 3px solid #182848;
    transform: scale(1.1);
    transition: all 0.4s;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.description {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/image.jpg);
    background-size:cover;
}

.description h1 {
    color: #e2e2e2;
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
}

.description h2 {
    color: #e2e2e2;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}


.icons img {
    margin: 10px;
    height: 70px;
    width: 70px;
    z-index: 999;
}

.icons img:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.projects, .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 800px;
}

.contact {
    height: auto;
}


.projects .title, .contact .title{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e2e2e2;
}

.projects h2, .contact h2 {
    display: block;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 60px;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 50px;
    height: 400px;
    width: 450px;
    box-shadow: 5px 5px 15px rgb(0,0,94);
    background-image: url("img/image3.jpg");
    background-size: cover;
    text-decoration: none;
}

.card h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
}

.card p {
    display: none;
}

.card:hover{
    transform: scale(1.3);
    transition: all 0.4s;
}

.card:hover p {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 28.8px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.aboutme {
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/image.jpg);
    background-size:cover;
}

.aboutme .title {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutme .title h2 {
    display: block;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 60px;
}

.aboutme .text {
    height: 50%;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    padding: 10px;
    color: white;
}

.contact .title h2 {
    display: block;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 60px;
}

.contact p {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

footer {
    display: flex;
    height: 100%;
    background-image: url("img/image3.jpg");
    background-size: cover;
}

.madeby {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bold;
    padding-right: 20px;
}

footer .madeby {
    font-size: 15px;
}

.credits {
    font-size: 15px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: white;
    display: inline-block;
}

.credits a {
    color: white;
}
