@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.menu {
    display: flex;
    width: 100%;
    position: fixed;
    height: 65px;
    background-color: #e2e2e2;
}

.menu a {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.menu a:hover {
    border-top: 3px solid #182848;
    transform: scale(1.1);
    transition: all 0.4s;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.description {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/image.jpg);
    background-size:cover;
}

.description h1 {
    color: #e2e2e2;
    font-size: 70px;
    font-family: 'Quicksand', sans-serif;
}

.description h4 {
    color: #e2e2e2;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 800px;
    background-color: #e2e2e2;
}

.projects .title {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e2e2e2;
}

.projects h1 {
    display: block;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 60px;
}

.cards-projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 50px;
    height: 400px;
    width: 20%;
    box-shadow: 5px 5px 15px rgb(0,0,94);
    background-image: url("img/image3.jpg");
    background-size: cover;

}

.card h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}

.card h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.card:hover{
    transform: scale(1.3);
    transition: all 0.4s;
}

footer {
    display: flex;
    height: 65px;
    background-color: white;
}
